img{
    width: 100%;
}

.main{
    min-height: 80vh;
}

.logo{
    width: 130px;
}

.icon{
    width: 50px;
    display: block;
    margin: auto;
}

.card-img-height{ height: 280px; }

.primary-color{ background-color: #FFD460 !important; }
.secondary-color{ background-color: #F07B3F !important; }