img{
    width: 100%;
}

.main{
    min-height: 80vh;
}

.logo{
    width: 130px;
}

.icon{
    width: 50px;
    display: block;
    margin: auto;
}

.action-icon{
    width: 50px;
}

.badge-price{
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    padding: 10px;
}

.card-img-height{ height: 280px; }

.primary-color{ background-color: #FFD460 !important; }
.secondary-color{ background-color: #F07B3F !important; }
.primary-color-text{ color: #FFD460 !important; }
.secondary-color-text{ color: #F07B3F !important; }